{% extends 'base.html' %}
{% load static %}
{% block title %}Recipe{% endblock %}
{% block content %}
	<text style="font-size:3em"><b>Create New Recipe</b></text><br><br>
	
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		
		{{ form.as_p }}
		{{ image_form.as_p }}

		<h3>Ingredients:</h3>
		<div id="ingredients">
			<div class="ingredient-block">
				<label>Ingredient:
					<select name="ingredient">
						{% for ingredient in ingredients %}
							<option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
						{% endfor %}
					</select>
				</label>
				<label> - Quantity:
					<input type="text" name="quantity" required>
				</label>
			</div>
		</div>

		<button type="button" onclick="addIngredient()">+ Add another ingredient</button>
		<br><br>

		<button type="submit" class="custom_button" style="width:140px; height:35px; font-size:15px; cursor:pointer;">Create</button>
	</form>
	
	<script src="{% static 'js/ingredient_add.js' %}"></script>
	
{% endblock %}